<div class='form-group mb-3'>
  <%= f.select :api, @yes_no_option, {}, { class: 'form-select form-select-md' } %>
  <small id='emailHelp' class='form-text text-muted'>Get air quality data.</small>
</div>