<div class='form-group mb-3'>
  <%= f.text_field :city, placeholder: 'City', class: 'form-control' %>
  <small id='emailHelp' class='form-text text-muted'>Pass US Zipcode, UK Postcode, Canada Postalcode, IP address, Latitude/Longitude (decimal degree) or city name.</small>
</div>